*{
margin:0;
padding:0;
box-sizing:border-box;
}
html,css{
height: 100%;
width:100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
button{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50%;
}
p{
  border: 1px solid black;
}