@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}
body::-webkit-scrollbar-track{
  background-color: black;
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: black;
}